<div class="">



    <div class="dashboard-container">
        <h2 class="title text-left">Mi actividad</h2>
        <mat-tab-group class="remove-border-bottom">
            <mat-tab  label="MIS OFERTAS">
                <div class="">
                    <app-my-oferts></app-my-oferts>
                </div>
            </mat-tab>
            <mat-tab label="OFERTAS ACEPTADAS">
                <app-accepted-oferts></app-accepted-oferts>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>