<div class="container" >   



        <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-warning" type="submit"><i class="fas fa-search "></i></button>
                </div>
            </div>

            <br> 
            <br> 
<div class="row">
       
        <div id="vender" class="col-md-4"><div class="text-center"><h3>¿No sabes que hacer? Puedes empezar por </h3><br> <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  routerLink="/newProduct" class="btn btn-outline-warning"><h5>Vender algo</h5></button> </div>

        <br> 
                <br> <br></div>
                        
                
                        <div class="col-md-4">
                                <figure class="card card-product">
                                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  routerLink="/productDetails">
                                    <div class="img-wrap"><img src="https://http2.mlstatic.com/body-con-encaje-para-damas-fru-fru-24r005-D_NQ_NP_656762-MLV31370709846_072019-Q.webp"></div>
                                    <figcaption class="info-wrap">
                                            <h4 class="title">Another name of item</h4>
                                            <p class="desc">Some small description goes here</p>
                                            <div class="rating-wrap">
                                                <div class="label-rating">000 reviews</div>
                                                <div class="label-rating">154 orders </div>
                                            </div> <!-- rating-wrap.// -->

                                            <div class="price-wrap h5">
                                                    <span class="price-new"> $1280</span> <del class="price-old">$1980</del>
                                                </div> <!-- price-wrap.// -->
                                    </figcaption>
                                </a> </figure>
                            </div> <!-- col // -->




                            <div class="col-md-4">
                                    <figure class="card card-product">
                                        <div class="img-wrap"><img src="https://http2.mlstatic.com/body-con-encaje-para-damas-fru-fru-24r005-D_NQ_NP_656762-MLV31370709846_072019-Q.webp"></div>
                                        <figcaption class="info-wrap">
                                                <h4 class="title">Another name of item</h4>
                                                <p class="desc">Some small description goes here</p>
                                                <div class="rating-wrap">
                                                    <div class="label-rating">132 reviews</div>
                                                    <div class="label-rating">154 orders </div>
                                                </div> <!-- rating-wrap.// -->
                                        </figcaption>
                                            <div class="price-wrap h5">
                                                <span class="price-new"> $1280</span> <del class="price-old">$1980</del>
                                            </div> <!-- price-wrap.// -->
                                      
                                    </figure>
                                </div> <!-- col // -->
                                <div class="col-md-4">
                                        <figure class="card card-product">
                                            <div class="img-wrap"><img src="https://http2.mlstatic.com/body-con-encaje-para-damas-fru-fru-24r005-D_NQ_NP_656762-MLV31370709846_072019-Q.webp"></div>
                                            <figcaption class="info-wrap">
                                                    <h4 class="title">Another name of item</h4>
                                                    <p class="desc">Some small description goes here</p>
                                                    <div class="rating-wrap">
                                                        <div class="label-rating">132 reviews</div>
                                                        <div class="label-rating">154 orders </div>
                                                    </div> <!-- rating-wrap.// -->
                                            </figcaption>
                                                <div class="price-wrap h5">
                                                    <span class="price-new"> $1280</span> <del class="price-old">$1980</del>
                                                </div> <!-- price-wrap.// -->
                                          
                                        </figure>
                                    </div> <!-- col // -->
                                    <div class="col-md-4">
                                            <figure class="card card-product">
                                                <div class="img-wrap"><img src="https://http2.mlstatic.com/body-con-encaje-para-damas-fru-fru-24r005-D_NQ_NP_656762-MLV31370709846_072019-Q.webp"></div>
                                                <figcaption class="info-wrap">
                                                        <h4 class="title">Another name of item</h4>
                                                        <p class="desc">Some small description goes here</p>
                                                        <div class="rating-wrap">
                                                            <div class="label-rating">132 reviews</div>
                                                            <div class="label-rating">154 orders </div>
                                                        </div> <!-- rating-wrap.// -->
                                                </figcaption>
                                                    <div class="price-wrap h5">
                                                        <span class="price-new"> $1280</span> <del class="price-old">$1980</del>
                                                    </div> <!-- price-wrap.// -->
                                              
                                            </figure>
                                        </div> <!-- col // -->
                                        <div class="col-md-4">
                                                <figure class="card card-product">
                                                    <div class="img-wrap"><img src="https://http2.mlstatic.com/body-con-encaje-para-damas-fru-fru-24r005-D_NQ_NP_656762-MLV31370709846_072019-Q.webp"></div>
                                                    <figcaption class="info-wrap">
                                                            <h4 class="title">Another name of item</h4>
                                                            <p class="desc">Some small description goes here</p>
                                                            <div class="rating-wrap">
                                                                <div class="label-rating">132 reviews</div>
                                                                 <div class="label-rating">154 orders </div>
                                                            </div> <!-- rating-wrap.// -->
                                                    </figcaption>
                                                        <div class="price-wrap h5">
                                                            <span class="price-new"> $1280</span> <del class="price-old">$1980</del>
                                                        </div> <!-- price-wrap.// -->
                                                  
                                                </figure>
                                            </div> <!-- col // -->
                                            <div class="col-md-4">
                                                    <figure class="card card-product">
                                                        <div class="img-wrap"><img src="https://http2.mlstatic.com/body-con-encaje-para-damas-fru-fru-24r005-D_NQ_NP_656762-MLV31370709846_072019-Q.webp"></div>
                                                        <figcaption class="info-wrap">
                                                                <h4 class="title">Another name of item</h4>
                                                                <p class="desc">Some small description goes here</p>
                                                                <div class="rating-wrap">
                                                                    <div class="label-rating">132 reviews</div>
                                                                    <div class="label-rating">154 orders </div>
                                                                </div> <!-- rating-wrap.// -->
                                                        </figcaption>
                                                            <div class="price-wrap h5">
                                                                <span class="price-new"> $1280</span> <del class="price-old">$1980</del>
                                                            </div> <!-- price-wrap.// -->
                                                      
                                                    </figure>
                                                </div> <!-- col // -->
                <div class="col-md-4">
                    <figure class="card card-product">
                        <div class="img-wrap"><img src="https://http2.mlstatic.com/body-con-encaje-para-damas-fru-fru-24r005-D_NQ_NP_656762-MLV31370709846_072019-Q.webp"></div>
                        <figcaption class="info-wrap">
                                <h4 class="title">Another name of item</h4>
                                <p class="desc">Some small description goes here</p>
                                <div class="rating-wrap">
                                    <div class="label-rating">132 reviews</div>
                                    <div class="label-rating">154 orders </div>
                                </div> <!-- rating-wrap.// -->
                        </figcaption>
                            <div class="price-wrap h5">
                                <span class="price-new"> $1280</span> <del class="price-old">$1980</del>
                            </div> <!-- price-wrap.// -->
                      
                    </figure>
                </div> <!-- col // -->
                <div class="col-md-4">
                        <figure class="card card-product">
                            <div class="img-wrap"><img src="https://http2.mlstatic.com/body-con-encaje-para-damas-fru-fru-24r005-D_NQ_NP_656762-MLV31370709846_072019-Q.webp"></div>
                            <figcaption class="info-wrap">
                                    <h4 class="title">Another name of item</h4>
                                    <p class="desc">Some small description goes here</p>
                                    <div class="rating-wrap">
                                        <div class="label-rating">132 reviews</div>
                                        <div class="label-rating">154 orders </div>
                                    </div> <!-- rating-wrap.// -->
                            </figcaption>
                                <div class="price-wrap h5">
                                    <span class="price-new"> $1280</span> <del class="price-old">$1980</del>
                                </div> <!-- price-wrap.// -->
                          
                        </figure>
                    </div> <!-- col // -->
                    <div class="col-md-4">
                            <figure class="card card-product">
                                <div class="img-wrap"><img src="https://http2.mlstatic.com/body-con-encaje-para-damas-fru-fru-24r005-D_NQ_NP_656762-MLV31370709846_072019-Q.webp"></div>
                                <figcaption class="info-wrap">
                                        <h4 class="title">Another name of item</h4>
                                        <p class="desc">Some small description goes here</p>
                                        <div class="rating-wrap">
                                            <div class="label-rating">132 reviews</div>
                                            <div class="label-rating">154 orders </div>
                                        </div> <!-- rating-wrap.// -->
                                </figcaption>
                                    <div class="price-wrap h5">
                                        <span class="price-new"> $1280</span> <del class="price-old">$1980</del>
                                    </div> <!-- price-wrap.// -->
                              
                            </figure>
                        </div> <!-- col // -->
                </div> <!-- row.// -->
                
                </div> 
                <!--container.//-->


                <app-page></app-page>