<div class="container p-4">

    <div class="row">

        <div class="col-sm-12"></div>

        <div class="col-sm-12">

            <div class="">
                <h4 mat-dialog-title>Califica a tu compañero: {{ partner.firstName }} {{partner.lastName}}</h4>
            </div>


            <form class="register-form" [formGroup]="formGroupRating" novalidate>

                <div class="row">

                    <div class="col-12">

                        <div class="flex-fill ">
                            <mat-form-field appearance="outline" class="mat-form-field">
                                <mat-label>Transacción no llevada a cabo por</mat-label>
                                <mat-select formControlName="excuse">
                                    <mat-option [value]="'Masculino'">
                                        Fondos Insuficientes
                                    </mat-option>
                                    <mat-option [value]="'Femenino'">
                                        Decidí no hacerlo
                                    </mat-option>
                                    <mat-option [value]="'Otro'">
                                        Compañero no se comunicó
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-12">

                        <div class="flex-fill ">
                            <mat-form-field appearance="outline" class="mat-form-field">
                                <mat-label>¿Recomendarías a este usuario?</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option [value]="'POSITIVE'">
                                        SI
                                    </mat-option>
                                    <mat-option [value]="'NEGATIVE'">
                                        NO
                                    </mat-option>
                                    <mat-option [value]="'NEUTRAL'">
                                        NEUTRAL
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-12">

                        <div class="flex-fill ">
                            <mat-form-field appearance="outline" class="mat-form-field">
                                <mat-label>Comentarios sobre la Transacción</mat-label>
                                <input matInput type="text" formControlName="comment" class="input-right-align">
                            </mat-form-field>
                        </div>

                    </div>



                </div>

            </form>

            <button class="btn btn-primary" (click)="onSubmit()" [disabled]="formGroupRating.invalid" *ngIf="!submit; else loading">
                 CALIFICAR
            </button>

        </div>

        <ng-template #loading>
            <div class="col-12 d-flex justify-content-center">
                <mat-spinner diameter="40" class="custom-spinner"></mat-spinner>
            </div>
        </ng-template>



    </div>