
.container{
  margin-top: 10px;
}
.cardbox{
  margin: 5px;
  
}


.btn-group{
  margin: auto;
}


.txtarea{
  margin: 20px;
}
.text-left{
  margin-left: 20px;
}
.avatar{

  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin: auto;
  padding: 0%;
  margin: 5px;
}

.card-title{
    margin-top: auto;
    margin-bottom: auto;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
 
}

.rating > span {
  display: inline-block;
  position: relative;
  font-size: 0.7em;
 
}

h1{
  font-size: 2.2em;
}

h2{
font-size: 1.5em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\f005";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

@media only screen and (max-width:600px ) {
    h6{
        font-size: 1em;
    }

    .rating > span {
        font-size: 0.7em;
    }

    h1{
        font-size: 1.6em;
    }

    h2{
      font-size: 1.2em;
    }
    
}

.rating{
  font-size: 1.7em;
}

.far,.fas{
  color: white;
  font-size: 2em;
}

mat-form-field{
  width: 100%;
}

:host ::ng-deep .custom-spinner circle{   
  stroke: rgba(2, 82, 255, 0.925);
}