  <!-- fixed sidebar -->
  <div class="navbar-dark bg-white text-white position-fixed h-100  w-sidebar">
        <div class="sidebar-title  text-center"> <i class="fas fa-comments-dollar"></i> Exchange</div>
          <br>
          <ul class="nav flex-column flex-nowrap text-truncate">
              <li class="nav-item">
                  <a class="nav-link active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                  routerLink="/exchange/new-ofert"> <i class="fas fa-plus-circle"></i> Publicar</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                  routerLink="/exchange/all-oferts"><i class="fas fa-search-dollar"></i>Ofertas Disponibles</a>
              </li>

              <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                      routerLink="/exchange/accepted-oferts"><i class="fas fa-comment-dollar"></i> Ofertas Aceptadas </a>
                  </li>
              <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                      routerLink="/exchange/my-oferts"> <i class="fas fa-bullhorn"></i> Mis Ofertas </a>
                  </li>
          </ul>
      </div>
  
