<div class="container text-dark">
    <div class="row">
        <div class="process col-12">
            <div class="process-row">
                <div class="process-step ">
                    <button [style.background-color]=" getColorStatusNew(getStatus())"  type="button"
                        class="btn btn-circle " disabled="disabled"><i
                            class="fas fa-user fa-2x"></i></button>
                    <div class="small text-secondary">Esperando</div>
                </div>
                <div class="process-step ">
                    <button [style.background-color]="getColorStatusPending(getStatus())" type="button"
                        class="btn btn-circle " disabled="disabled"><i
                            class="fas fa-tasks fa-2x"></i></button>
                    <div class="small text-secondary">Procesando</div>

                </div>

                <div class="process-step ">
                    <button [style.background-color]="getColorStatusWaiting(getStatus())" type="button"
                        class="btn btn-circle " disabled="disabled"><i
                            class="fas fa-star fa-2x"></i></button>
                    <div class="small text-secondary">Calificando</div>
                </div>

                <div *ngIf="getStatus()!='CANCELED'" class="process-step ">
                    <button [style.background-color]="getColorStatusFinalized(getStatus())" type="button"
                        class="btn  btn-circle " disabled="disabled"><i
                            class="fas fa-check-double fa-2x"></i></button>
                    <div class="small text-secondary">Completada</div>

                </div>

                <div *ngIf="getStatus()==='CANCELED'" class="process-step ">
                    <button type="button" [style.background-color]=" getColorStatusCanceled(getStatus())"
                        class="btn   btn-circle" disabled="disabled"><i
                            class="fas fa-times fa-2x"></i></button>
                    <div class="small text-secondary">Cancelada</div>
                </div>


            </div>



        </div>
        <div class="col-12">

            <div class="row">

                <div class="col-lg-4">

                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="{{person.photoUrl}}" class="img-fluid mx-auto d-block img-thumbnail" alt="">
                        </div>
                        <table class="table small">

                            <tbody>
                                <tr>
                                    <th>Nombre y Apellido: </th>
                                    <td>
                                        {{person.firstName}} {{person.lastName}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Genéro: </th>
                                    <td>
                                        {{person.gender}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>CI: </th>
                                    <td>
                                        {{person.dni}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Telefono: </th>
                                    <td>
                                        {{person.phone_number}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- END APP RAITN -->
                    </div>

                </div>
                <div class="col-lg-8 ">
                    <div class="col-right ">
                        <table class="table transaction-details-table small">
                            <thead class="">
                                <tr>
                                    <td class="">Publicado el día:</td>
                                    <td>
                                        <div> {{ ofert.date | date:'short' }}</div>
                                    </td>
                                </tr>

                            </thead>
                            <tbody>
                                <tr class="table-transaction-id">
                                    <td>ID</td>
                                    <td> {{ ofert.id }}
                                    </td>
                                </tr>
                                <tr>
                                    <td> Tipo de transacción: </td>
                                    <td>
                                        {{ofert.type}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tasa: </td>
                                    <td class=""> {{ ofert.rate }} {{ofert.currencyRate}} </td>

                                </tr>
                                <tr>
                                    <td>Monto a entregar / transferir:</td>
                                    <td>
                                        <div class="">
                                            {{ ofert.amountToSend + ofert.currencyAmountToSend  }}&nbsp;
                                            {{ ofert.from }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Monto a recibir:</td>
                                    <td class="d-flex">
                                        {{ ofert.amountToReceive}}{{ofert.currencyAmountToReceive }}&nbsp;
                                        <div class="" *ngFor="let payForm of ofert.payForms">
                                            {{ payForm }}.&nbsp;
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class=" action-box d-flex justify-content-center align-items-center ">
                            <!--left col-->
                            <div class=" text-center">
                                <h4 *ngIf="(getStatus()==='NEW') && ofert.ownerUID===currentUserUID">
                                    ¿Desea cancelar la transacción?</h4>

                                <h4 *ngIf="getStatus()==='ACCEPTED'">
                                    ¿Se ha completado la transacción?</h4>

                                <h4 *ngIf="getStatus()==='COMPLETED'">
                                    ¡Transacción completada!
                                </h4>
                                <h4 *ngIf="getStatus()==='CANCELED'">
                                    ¡Transacción cancelada!
                                </h4>
                                <h4
                                    *ngIf="getStatus()==='ACCEPTED_SUCCESS_AND_WAITING_FOR_RATING' || getStatus()==='ACCEPTED_UNSUCCESS_AND_WAITING_FOR_RATING'">
                                    ¿Recomendarías a este compañero?
                                </h4>

                                <div class="">
                                    <button class="btn btn-secondary btn-action "
                                        *ngIf="(getStatus()==='NEW') && ofert.ownerUID===currentUserUID"
                                        (click)="openDialogToCancel()">CANCELAR</button>

                                    <button class="btn btn-primary btn-action "
                                        *ngIf="getStatus()==='ACCEPTED_SUCCESS_AND_WAITING_FOR_RATING'"
                                        (click)="openSuccesful()">CALIFICAR</button>

                                    <button class="btn btn-primary btn-action"
                                        *ngIf="getStatus()==='ACCEPTED_UNSUCCESS_AND_WAITING_FOR_RATING'"
                                        (click)="openUnsuccesful()">CALIFICAR</button>

                                    <button class="btn btn-primary btn-action" *ngIf="getStatus()==='ACCEPTED'"
                                        (click)="openDialogSuccess()">SI</button>

                                    <button class="btn btn-secondary btn-action" *ngIf="getStatus()==='ACCEPTED'"
                                        (click)="openDialogUnsuccess()">NO</button>

                                    <button class="btn btn-primary btn-action" *ngIf="canChange()"
                                        (click)="openDialogSuccess()">CAMBIAR A COMPLETADO</button>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>