
.table{
  border-top: 0.5px solid whitesmoke;
}
.process-row {
    display: table-row;
   
    
}

.process {
    display: table;     
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 25px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 97%;
    height: 0.5px;
    background-color: whitesmoke;
    
}

.process-step {    
    display: table-cell;
    text-align: center;
    position: relative;
    
}

.process-step p {
    margin-top:10px;
    
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 10px;
  line-height: 1.428571429;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  background-color: rgb(235, 235, 235);
  border: 1px solid whitesmoke;
}


/*--- for moviles ----*/


/* Profile container */
.profile {
    margin: 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 30px;
    border:0.5px solid whitesmoke;
    
  }
  
  .profile-userpic img {
    float: none;
    height: 190px;
    width: 190px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    margin-bottom: 20px;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 5px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
  }
   
  .profile-usermenu {
    margin-top: 20px;
  }
  
  
  .profile-usermenu button:hover{
    color: #0077ff;
  }
.action-box{
  height: 150px;
}    
.col-right{
  height: 100%;
  border-left:0.5px solid whitesmoke;
  border-right:0.5px solid whitesmoke;
  border-bottom:0.5px solid whitesmoke;

  
}
  /*------STAR TRANSACTION DETAILS TABLE  -----*/
  .transaction-details-table{
    padding: 45px;
    margin-top: 10px;
  }



  .btn-action{
    min-width: 100px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
  }

  .action-box{
    width: 100%;
  }
  .btn-action{
    margin: 10px;
    min-width: 80px;
    padding: 5px;
  }
  @media only screen and (max-width:900px){

    .wa-btn{
      margin-top:10px;
    }
    
    .btn-circle {
        width: 40px;
        height: 40px;
        font-size: 8px;
      }
    
      .process-row:before {
        top: 20px;
      
        
    }
    
    .avatar{
        border-radius: 50%;
        max-height: 200px;
      }
    
      .card-title{
          margin-top: auto;
          margin-bottom: auto;
      }
      .rating{
          width: auto;
          margin: auto;
          height: auto;
      }
    
      .transaction-details-table{
        margin-top: 0px;
      }

  

    }
    
