<div class="row col-9">
    <div class="col-sm-3 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card-product-container ">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid "
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-sm-3 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card-product-container ">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid "
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-sm-3 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card-product-container ">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid "
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-sm-3 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card-product-container ">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid "
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-sm-3 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card-product-container ">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid "
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-sm-3 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card-product-container ">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid "
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-sm-3 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card-product-container ">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid "
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-sm-3 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card-product-container ">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid "
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    
   
</div>