.container-fluid{
    padding-top: 20px;

    
  }
  .input-group{
      margin-bottom: 12px;
  }
  .d-flex{
      margin-bottom: 10px;
  }


.card-product .img-wrap {
    overflow: hidden;
    position: relative;
    height: 30%;
    text-align: center;
    width: 100%; 
}


.img-wrap {
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.card-product{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;

}
.card-product .img-wrap{
    position: relative;
    height: 210px;
    

}
.price{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 700;
    font-size: 14px;
    color: black;
    padding: 5px;
    min-width: 100px;
    background: whitesmoke;
    opacity: 0.9;
    border-radius: 2px;
}

.product-title{
    height: 50px;
    padding: 5px;
    color: black;
}
.card-product .img-wrap img {
    height: 100%;
    width: 100%;
}
.card-product .info-wrap {
    overflow: hidden;
    border-top: 0.5px solid rgb(129, 123, 123);
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 0.5px solid rgb(214, 214, 214);
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.info-wrap{
    font-size: 12px;
}

.card-product .price-old {
    color: #999;
}



.title{
    display: none;
}

a{
    color: #100;
    text-decoration: none;
}


#vender{
    margin: auto;
    overflow: hidden;
}

.description{
    overflow: hidden;
    height: 50px;
    max-height: 50px;
}

