<div class="container-fluid w-100">
    <div class="row" *ngIf="products ; else loading">


        <div class=" col-sm-3 col-12 justify-content-center align-items-center text-center"
            *ngFor="let product of products">
            <figure class=" card-product">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="['/app/marketplace/m',{ outlets: {marketplace: ['product',product.id] } }]">
                    <div class="img-wrap ">
                        <img class="img img-fluid" src="{{product.galery[0]}}">
                        <div class="price">{{product.currency}}{{ product.price }}</div>
                    </div>
                    
                    <div class=" small product-title d-flex justify-content-center align-items-center">{{ product.title }} </div>
                </a> 
            </figure>
        </div> <!-- col // -->


    </div> <!-- row.// -->

    <div *ngIf="loadingData" class="d-flex justify-content-center align-items-center p-3">
        Cargando...
    </div>

</div>
<!--container.//-->

<div *ngIf="products.length==0">
    <app-loading-marketplace></app-loading-marketplace>
</div>


    <ng-template #loading>


        <app-loading-marketplace></app-loading-marketplace>

    </ng-template>

<!--<app-page></app-page>-->