.container{
    padding-top: 10px;

    
  }
  .input-group{
      margin-bottom: 12px;
  }
  .d-flex{
      margin-bottom: 10px;
  }

.card-product .img-wrap {
    overflow: hidden;
    position: relative;
    height: 30%;
    text-align: center;
    width: 100%; 
}

.price{
    font-weight: 500;
    font-size: 14px;
    color: rgb(80, 80, 80);
}
.img-wrap {
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.card-product .img-wrap img {
    height: 30%;
    width: 100%;
}
.card-product .info-wrap {
    overflow: hidden;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.info-wrap{
    font-size: 12px;
}

.card-product .price-old {
    color: #999;
}

.card{

        display:block;
        -webkit-transition:-webkit-transform 0.8s ease-out;
        -moz-transition:-moz-transform 0.8s ease-out;
        -o-transition:-o-transform 0.8s ease-out;
        -ms-transition:-ms-transform 0.8s ease-out;
        transition:transform 0.8s ease-out;
        background-color: white;
        padding: 5px;
        border-radius: 3px;
        
}

.card:hover{
   transform: scale(1.05);
    
    
}

.title{
    display: none;
}

a{
    color: #100;
    text-decoration: none;
}


#vender{
    margin: auto;
    overflow: hidden;
}

.description{
    overflow: hidden;
    height: 50px;
    max-height: 50px;
}

