.container{
    display: block;
  
}

.rating-num{
    font-size: 3em;
}

.reviews{
    font-size: 1.1em;
    margin-bottom: 10px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
   
  }
  
  .rating > span {
    display: inline-block;
    position: relative;
    font-size: 2.2em;
   
  }
