
   /* width */
   ::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(209, 209, 209); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(209, 209, 209); 
  }
/*----START SEARCH BAR----*/

.searchbar{
    margin-bottom: 10px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
    }

    .search_input{
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    background: none;
    caret-color:transparent;
    line-height: 40px;
    width: 100%;
    font-size: 0.8em;
    padding: 0 10px;

    }
    
    .searchbar:hover > .search_input{
    caret-color:rgb(248, 160, 22);;
    transition: width 0.4s linear;
    }
    
    .btn-text{
        padding: 5px;
      }
    .searchbar:hover > .search_icon{
    color: rgb(0, 0, 0);
    }

    .search_icon{
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:rgb(0, 0, 0);
    text-decoration:none;
    }
    .search_icon > .fas{
      color: rgb(0, 0, 0);
    }
      
    a{
      text-decoration: none;
      margin-bottom: 2px;
    }
    
    
    .main{
      min-height: 100vh;
      margin-left: 20vw;
      padding-right: 10px;
    }
    
    
    .sidebar{
      width: 20vw;
      height: 100vh;
      position: fixed;
      padding-left: 15px;
      padding-top: 15px;
      padding-right: 15px;
      padding-bottom: 60px;
      border-right: 0.5px solid whitesmoke;


    }
    .sidebar-title{
      padding: 5px;
    }
 
    
   
    .sidebar:hover{
      overflow-y:scroll;

    }
  
 
    
.btn-text{
  padding: 5px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 14px;

}
.btn-menu{
  padding: 5px;
  color: rgb(7, 7, 7);
  font-weight: 500;
  font-size: 14px;
}
    .fas{
      width: 30px;
      height: 30px;
      padding: 8px;
      border-radius: 50%;
      font-size: 0.9em;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sidebar-icon{
      background-color: transparent;
      margin-right: 15px;
      font-size: 1.1em;
      padding: 10px;
      color: #2196F3
;
      }
      /*--- START CLASS ACTIVE ---*/
    
    .active{
      background: whitesmoke;
    } 
    a:hover{
      background: whitesmoke;
    }     
    /*--- END CLASS ACTIVE ---*/
    /*--menu icons colors---*/
    .icon-menu{
      background: #2196F3;

      
    }

    /*--- Cetegory icons colors --*/

    .tag-vehicles{
      background-color: tomato;
    }
    .tag-electronics{
      background-color: teal;
    }
    .tag-home-garden{
      background-color: blueviolet;
    }
    .tag-cloth{
      background-color: coral;
    }
    .tag-recreation{
      background-color: cornflowerblue;
    }
    .tag-family{
      background-color: crimson;
    }
    .tag-home-rent{
      background-color: goldenrod;
    }
    .tag-home-sell{
      background-color: indigo;
    }
    .tag-entertaiment{
      background-color: #2196F3
;;
    }
    .tag-job{
      background-color: darkorange;
    }
    
    @media only screen and (max-width:900px) {
    
      .hidden-in-mobile{
        display: none;
      }
      .main{
        margin-left: 0;
        padding: 0;
      }
    }