<div class="">
<div class="p-2  marketplace-nav-group">
    <div class="d-flex">
        <a class=" option-btn text-center shadow-sm d-flex" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="[{ outlets: {marketplace: ['products'] } }]"><i class="fas fa-box"></i>
            <div class="text-btn">Explorar</div></a>

        <a class=" option-btn text-center shadow-sm  d-flex" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" [routerLink]="[{ outlets: { marketplace: ['new'] } }]">
            <i class="fas fa-plus"></i>
                <div class="text-btn">Vender algo</div></a>
        <a class=" option-btn text-center shadow-sm d-flex" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="[{ outlets: {marketplace: ['my-products'] } }]"><i class="fas fa-user"></i>
            <div class="text-btn">Mis publicaciones</div> </a>

        <div class="searchbar shadow-sm d-flex">
            <input class="search_input  " type="text" name="" placeholder="Buscar">
            <a class="search_icon btn"><i class="fas fa-search"></i></a>
        </div>

    </div>
</div>
</div>
<router-outlet name='marketplace'></router-outlet>