<!--/ ESTRUCTURA PRINCIPAL DEL MARKETPLACE -->
<div class="">
    <div class="sidebar  hidden-in-mobile navbar-expand">
        <div class="sidebar-title d-flex h4">
            <li class="sidebar-icon fas fa-store p-2"></li>
            <h4 class="text-dark">
                Marketplace
            </h4>
        </div>
        <!-- Links -->

        <div class="searchbar shadow-sm d-flex p-2 align-content-center">
            <input class="search_input  " type="text" name="" placeholder="Buscar" [(ngModel)]="query"
                (keyup.enter)="search()">
            <a class="search_icon btn" (click)="search()"><i class="fas fa-search"></i></a>
        </div>
        <a class=" d-flex p-2 align-content-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="[{ outlets: {marketplace: ['products'] } }]"><i class="fas fa-box icon-menu"></i>
            <div class="btn-menu">Explorar</div>
        </a>

        <a class="d-flex p-2 align-content-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="[{ outlets: { marketplace: ['new'] } }]">
            <i class="fas fa-plus icon-menu"></i>
            <div class="btn-menu">Vender algo</div>
        </a>
        <a class="d-flex p-2 align-content-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="[{ outlets: {marketplace: ['my-products'] } }]"><i class="fas fa-list-ul icon-menu"></i>
            <div class="btn-menu">Mis publicaciones</div>
        </a>



        <div class="p-2 ">
            <h5 class="text-dark">Categorías</h5>
        </div>
        <div class="categories">
            <a class="d-flex p-2 align-content-center" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[{ outlets: {marketplace: ['category','vehiculos'] } }]"><i class="fas fa-car tag-vehicles"></i>
                <div class="btn-text">Vehículos</div>
            </a>
            <a class="d-flex p-2 align-content-center " routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[{ outlets: {marketplace: ['category','electronica'] } }]"><i class=" d-flex justify-content-center fas fa-mobile-alt tag-electronics"></i>
                <div class="btn-text">Electrónica</div>
            </a>
            <a class="d-flex p-2 align-content-center" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[{ outlets: {marketplace: ['category','casa y jardin'] } }]"><i class="d-flex justify-content-center fas fa-home tag-home-garden"></i>
                <div class="btn-text">Casa y jardín</div>
            </a>
            <a class="d-flex p-2 align-content-center" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[{ outlets: {marketplace: ['category','ropa y accesorios'] } }]"><i class="d-flex justify-content-center fas fa-tshirt tag-cloth"></i>
                <div class="btn-text">Ropa y accesorios</div>
            </a>
            <a class="d-flex p-2 align-content-center" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[{ outlets: {marketplace: ['category','pasatiempos'] } }]"><i class="d-flex justify-content-center fas fa-guitar tag-recreation"></i>
                <div class="btn-text">Pasatiempos</div>
            </a>
            <a class="d-flex p-2 align-content-center" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[{ outlets: {marketplace: ['category','familia'] } }]"><i class="d-flex justify-content-center fas fa-heart tag-family"></i>
                <div class="btn-text">Familia</div>
            </a>

            <a class="d-flex p-2 align-content-center" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[{ outlets: {marketplace: ['category','alquileres'] } }]"><i class="fas fa-home tag-home-rent"></i>
                <div class="btn-text">Alquileres</div>
            </a>
            <a class="d-flex p-2 align-content-center" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[{ outlets: {marketplace: ['category','viviendas en venta'] } }]"><i class="fas fa-home tag-home-sell"></i>
                <div class="btn-text">Viviendas en venta</div>
            </a>
            <a class="d-flex p-2 align-content-center" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[{ outlets: {marketplace: ['category','entretenimiento'] } }]"><i class="fas fa-gamepad tag-entertaiment"></i>
                <div class="btn-text">Entretenimiento</div>
            </a>
            <a class="d-flex p-2 align-content-center" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[{ outlets: {marketplace: ['category','clasificados'] } }]"><i class="fas fa-toolbox tag-job"></i>
                <div class="btn-text">Clasificados</div>
            </a>


        </div>

    </div>
    <div class="main">
        
        <router-outlet name='marketplace'></router-outlet>
    </div>
</div>