.container{
padding-top: 5px;
padding-bottom: 5px;
}
a{
    color: #100;
    text-decoration: none;
}
/*----/////////////////////////////////----*/

.option-btn .fas{
    padding-right: 8px;
}

/*----START buttons nav----*/

.marketplace-nav-group{
    margin-bottom: 10px;
}


/*----START SEARCH BAR----*/

.searchbar{
    margin-bottom: auto;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 1px;
    margin-top: 10px;
    margin-left: 10px;


    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;

    }

    .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    font-size: 0.8em;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 300px;
    caret-color:red;
    transition: width 0.4s linear;
    }
    @media only screen and (max-width:800px){
     
        .text-btn{
            display: none;
            width: 40px;
            height: 40px;
        }
        .fas{
            font-size: 1.4em;
        }

        .option-btn .fas{
            padding: 5px;
        }
        
    }
    
    @media only screen and (max-width:600px){
        .searchbar:hover > .search_input{
            padding: 0 10px;
            width: 110px;
            caret-color:red;
            transition: width 0.4s linear;
        }
        
    }

    @media only screen and (max-width:350px){
        .searchbar:hover > .search_input{
            padding: 0 10px;
            width: 80px;
            caret-color:red;
            transition: width 0.4s linear;
        }
    }
    @media only screen and (min-width:800px) and (max-width:1024px){
        .searchbar:hover > .search_input{
            padding: 0 10px;
            width: 300px;
            caret-color:red;
            transition: width 0.4s linear;
        }
        .text-btn{
            font-size: 0.8em;
        }
        
    }
    

    .searchbar:hover > .search_icon{
    color: black;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:black;
    text-decoration:none;
    }


    /*--- START TRANSITION BUTTON EFFECT---*/
  .option-btn {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: black;
    border-radius: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 0.8em;
    height: 40px;
    width: 180px;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
  }
  
  .option-btn::before , .searchbar::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    top: 0;
    left: 0;
    background: rgba(255, 197, 90, 0.925);
    background: -webkit-linear-gradient(to right, orange, rgb(255, 217, 0));
    background: -o-linear-gradient(to right, orange, rgb(255, 217, 0));
    background: -moz-linear-gradient(to right, orange, rgb(255, 217, 0));
    background: linear-gradient(to right, orange, rgb(248, 212, 10));
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
  }
  
  .option-btn:hover ,.searchbar:hover {
    background: rgba(255, 197, 90, 0.925);
    color: #fff;
  }
  
  .option-btn:hover:before  , .searchbar:hover:before{
    opacity: 1;
  }


    /*--- END TRANSITION BUTTON EFFECT---*/

  /*--- START CLASS ACTIVE ---*/

.active{
    background: rgba(255, 197, 90, 0.925);
    background: -webkit-linear-gradient(to right, orange, rgb(255, 217, 0));
    background: -o-linear-gradient(to right, orange, rgb(255, 217, 0));
    background: -moz-linear-gradient(to right, orange, rgb(255, 217, 0));
    background: linear-gradient(to right, orange, rgb(248, 212, 10));
} /*--- END CLASS ACTIVE ---*/