<div class="container">

    <div class="row">

        <div class="col-sm-12">

            <!--left col-->


            <div *ngIf="partner && ratings  ;else loading" class="row text-center">


                <div class="col-sm-12">
                    <div class=" text-center">
                        <h2 class="col-sm-12 text-center">@{{ partner.username }} </h2>
                        <br><br>

                    </div>

                </div>


                <!--left col-->


                <table class="table col-sm-12">

                    <tbody *ngFor="let rating of ratings">
                        <tr>
                            <th>@{{ rating.partner }} </th>
                            <td>{{ getRatingRounded(rating.value) }} </td>
                            <td>{{ rating.comment }}</td>
                     
                    </tbody>

                </table>

                <br>

            </div>

            <br><br>
        </div>

        <ng-template #loading>

            <app-loading class="text-center"></app-loading>

        </ng-template>