<div class=" p-2 d-flex justify-content-end ">
    <mat-slide-toggle [color]="'primary'" >Cambiar a permanente</mat-slide-toggle>
</div>

    <div class="col-md-12">
        <div class="flex-fill ">
            <mat-vertical-stepper [linear]="true" #stepper>

                <ng-template matStepperIcon="edit">
                    <li class="fas fa-check"></li>
                </ng-template>

                <ng-template matStepperIcon="done">
                </ng-template>


                <mat-step [stepControl]="formGroupAmountAndRate">
                    <ng-template matStepLabel>Ingresa el monto y la tasa</ng-template>                   
        
                                    <div *ngIf="constants; else loadConstants">

                                        <form class="" [formGroup]="formGroupAmountAndRate" novalidate>

                                            <div class="row">

                                                <div class="col-md-6 ">
                                                    <div class="flex-fill ">
                                                        <mat-form-field appearance="outline"
                                                            class="mat-form-field">
                                                            <input matInput placeholder="Monto"
                                                                type="number" formControlName="amount"
                                                                class="input-right-align">
                                                            <span matPrefix class="p-2">

                                                                <mat-select [value]="'$'"
                                                                    formControlName="amountCurrency">
                                                                    <mat-option
                                                                        *ngFor="let currency of constants.currencys"
                                                                        [value]="currency.symbol"
                                                                        [disabled]="currency.symbol=='Bs'">
                                                                        {{ currency.symbol }}
                                                                    </mat-option>
                                                                </mat-select>&nbsp;
                                                            </span>

                                                        </mat-form-field>
                                                    </div>

                                                </div>
                                                <div class="col-md-6 ">
                                                    <div class="flex-fill ">
                                                        <mat-form-field appearance="outline"
                                                            class="mat-form-field">
                                                            <input matInput placeholder="Tasa" type="number"
                                                                formControlName="rate"
                                                                class="input-right-align">
                                                            <span matPrefix>Bs&nbsp;</span>

                                                        </mat-form-field>
                                                    </div>

                                                </div>

                                            </div>
                                        </form>
                                        <div *ngIf="constants">
                                            <button mat-button matStepperPrevious>Anterior</button>
                                            <button mat-button matStepperNext>Siguiente</button>
                                        </div>
                                    </div>
                      
                         

      <!--      
     

                            <div *ngIf="ofert.type">
                                <div *ngIf="constants; else loadConstants">
                                    <form class="" [formGroup]="formGroupBuyAndSellFixedOfert"
                                        novalidate>
                                        <div class="row">

                                            <div class="col-md-6 ">
                                                <div class="flex-fill ">
                                                    <mat-form-field appearance="outline"
                                                        class="mat-form-field">
                                                        <input matInput placeholder="Monto mínimo"
                                                            type="number" formControlName="amountMin"
                                                            class="input-right-align">
                                                        <span matPrefix class="p-2">
                                                            <mat-select [value]="'$'"
                                                                formControlName="currencyAmountMin">
                                                                <mat-option [value]="'$'">$</mat-option>
                                                                <mat-option [value]="'E'">E
                                                                </mat-option>

                                                            </mat-select>&nbsp;
                                                        </span>

                                                    </mat-form-field>
                                                </div>

                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="flex-fill ">
                                                    <mat-form-field appearance="outline"
                                                        class="mat-form-field">
                                                        <input matInput placeholder="Monto máximo"
                                                            type="number" formControlName="amountMax"
                                                            class="input-right-align">

                                                        <span matPrefix class="p-2">
                                                            <mat-select [value]="'$'"
                                                                formControlName="currencyAmountMin">
                                                                <mat-option [value]="'$'">$</mat-option>
                                                                <mat-option [value]="'E'">E
                                                                </mat-option>

                                                            </mat-select>&nbsp;
                                                        </span>

                                                    </mat-form-field>
                                                </div>

                                            </div>
                                            <div class="col-md-12 ">
                                                <div class="flex-fill ">
                                                    <mat-form-field appearance="outline"
                                                        class="mat-form-field">
                                                        <input matInput placeholder="Tasa" type="number"
                                                            formControlName="rate"
                                                            class="input-right-align">
                                                        <span matPrefix>BSS&nbsp;</span>

                                                    </mat-form-field>
                                                </div>

                                            </div>
                                            <div class="col-md-6 ">

                                                <mat-form-field appearance="outline" class="mat-form-field">
                                                    <mat-label>Origen</mat-label>
                                                    <mat-select formControlName="from" multiple>
                                                        <mat-optgroup *ngFor="let group of constants.group"
                                                            [label]="group.name">
                                                            <mat-option *ngFor="let item of group.items"
                                                                [value]="item.name">
                                                                {{item.name}}
                                                            </mat-option>
                                                        </mat-optgroup>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-6 ">

                                                <mat-form-field appearance="outline" class="mat-form-field">
                                                    <mat-label>Destino</mat-label>
                                                    <mat-select formControlName="to" multiple>
                                                        <mat-optgroup *ngFor="let group of constants.group"
                                                            [label]="group.name">
                                                            <mat-option *ngFor="let item of group.items"
                                                                [value]="item.name">
                                                                {{item.name}}
                                                            </mat-option>
                                                        </mat-optgroup>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-raised-button [color]="'primary'" class=" p-2 btn "
                                            [disabled]="formGroupBuyAndSellFixedOfert">Publicar</button>

                                    </form>
                                </div>
                            </div>
           

              

-->
                </mat-step>
                <mat-step [stepControl]="formGroupBanks">
                    <div class="col-md-6 ">

                        <mat-form-field appearance="outline" class="mat-form-field">
                            <mat-label>Origen</mat-label>
                            <mat-select formControlName="from" multiple>
                                <mat-optgroup *ngFor="let group of constants.group"
                                    [label]="group.name">
                                    <mat-option *ngFor="let item of group.items"
                                        [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 ">

                        <mat-form-field appearance="outline" class="mat-form-field">
                            <mat-label>Destino</mat-label>
                            <mat-select formControlName="to" multiple>
                                <mat-optgroup *ngFor="let group of constants.group"
                                    [label]="group.name">
                                    <mat-option *ngFor="let item of group.items"
                                        [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Verifique los datos ingresados</ng-template> 
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Publicar oferta</ng-template>
                <button mat-raised-button [color]="'primary'" class="p-3 h-100"> Publicar </button>
                </mat-step>
            </mat-vertical-stepper>
        </div>

</div>



<ng-template #loadConstants>
    <div class="col-md-12 p-2 loading-item">
        <p>Cargando. Solo tomará un instante.</p>
    </div>

</ng-template>