.input-right-align {
    text-align: right;
  }
  
  input.input-right-align::-webkit-outer-spin-button,
  input.input-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.input-right-align {
    -moz-appearance: textfield;
  }

  mat-vertical-stepper{
    background-color: transparent;
  }
 

  .mat-form-field{
    width: 100%;
    font-size: 1.15em;
  }

  :host ::ng-deep .custom-spinner circle{   
    stroke: rgba(255, 197, 90, 0.925);
}





/* -----START LOADING TABLE ------*/

/*---transition efect----*/
.loading-item{
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: whitesmoke;
}






.btn{
  margin: 10px;
  width: 100%;
}

.stepper{
  height: 100%;
}

button{
  margin: 5px;
  background: rgb(83, 83, 255);
  background: -webkit-linear-gradient(to right, rgb(83, 83, 255), rgb(0, 174, 255));
  background: -o-linear-gradient(to right, rgb(83, 83, 255), rgb(0, 174, 255));
  background: -moz-linear-gradient(to right, rgb(83, 83, 255), rgb(0, 174, 255));
  background: linear-gradient(to right, rgb(83, 83, 255), rgb(0, 174, 255));
  color: white;
}



.item{
  margin-top: 20px;
  margin-bottom:10px ;
  margin-left: 10px;
  height: 60px;
  width: auto;
  background-color: whitesmoke;
}

.item-btn{
  margin-top:25px ;
  margin-left: 10px;
  height: 50px;
  width: 50%;
  border-radius: 25px;
  background-color: whitesmoke;
}

.hidden-in-desktop{
  display: none;
}

@media only screen and (max-width:900px){
  
.item{
  margin-top: 15px;
  margin-bottom:5px ;
  margin-left: 0px;
  height: 50px;
}

.item-btn{
  margin-top:15px ;
  margin-left: 0px;
  height: 40px;
  width: 50%;
  border-radius: 15px;
}

.hidden-in-desktop{
  display: block;
}

.hidden-in-mobile{
  display: none;
}

}