<div class="">
    <div class="d-flex flex-column ">
        <mat-vertical-stepper [linear]="true" #stepper class="stepper" >

            <ng-template matStepperIcon="edit">
                <li class="fas fa-check"></li>
            </ng-template>

            <ng-template matStepperIcon="done">
            </ng-template>


            <mat-step [stepControl]="formGroupAmountAndRate">
                <ng-template matStepLabel>
                    <h6>Ingresa el monto y la tasa</h6>
                </ng-template>

                <div *ngIf="constants; else loadConstants">

                    <form class="" [formGroup]="formGroupAmountAndRate" novalidate>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="flex-fill ">
                                    <mat-form-field appearance="outline" class="mat-form-field">
                                        <input matInput placeholder="Monto" type="number" formControlName="amount"
                                            class="input-right-align">
                                        <span matPrefix class="p-2">

                                            <mat-select [value]="'$'" formControlName="amountCurrency">
                                                <mat-option *ngFor="let currency of constants.currencys"
                                                    [value]="currency.symbol" [disabled]="currency.symbol=='Bs'">
                                                    {{ currency.symbol }}
                                                </mat-option>
                                            </mat-select>&nbsp;
                                        </span>

                                    </mat-form-field>
                                </div>

                            </div>


                            <div class="col-md-6 ">
                                <div class="flex-fill">
                                    <mat-form-field appearance="outline" class="mat-form-field">
                                        <input matInput placeholder="Tasa" type="number" formControlName="rate"
                                            class="input-right-align">
                                        <span matPrefix>Bs&nbsp;</span>

                                    </mat-form-field>
                                </div>

                            </div>
                        </div>

                    </form>


                    <button mat-button matStepperNext>Siguiente</button>

                </div>



            </mat-step>
            <mat-step [stepControl]="formGroupBanks">

                <ng-template matStepLabel>
                    <h6>Seleccione origen y formas de pago</h6>
                </ng-template>
                <div *ngIf="constants; else loadConstants">
                    <form class="" [formGroup]="formGroupBanks" novalidate>
                        <div class="row">
                            <div class="col-md-6">

                                <mat-form-field appearance="outline" class="mat-form-field">
                                    <mat-label>Origen</mat-label>
                                    <mat-select formControlName="from">
                                        <mat-optgroup *ngFor="let group of constants.group" [label]="group.name">
                                            <mat-option *ngFor="let item of group.items" [value]="item.name">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-optgroup>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 ">

                                <mat-form-field appearance="outline" class="mat-form-field">
                                    <mat-label>Forma de pago</mat-label>
                                    <mat-select formControlName="to" multiple>
                                        <mat-optgroup *ngFor="let group of constants.group" [label]="group.name">
                                            <mat-option *ngFor="let item of group.items" [value]="item">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-optgroup>
                                    </mat-select>
                                </mat-form-field>
                                <div class="d-flex justify-content-end">
                                </div>
                            </div>

                        </div>
                    </form>
                    <button mat-button matStepperPrevious>Anterior</button>
                    <button mat-raised-button [color]="'primary'" (click)="openDialogPreview()">Publicar
                        oferta.</button>

                </div>

            </mat-step>
          
        </mat-vertical-stepper>
    </div>

</div>



<ng-template #loadConstants>
    <div class="loading-item">
        <table class="table">
            <tbody>
                <tr class="">
                    <td class="">
                        <div class="item"></div>
                        <div class="item hidden-in-desktop"></div>
                        <div class="item-btn"></div>
                    </td>
                    <td class="hidden-in-mobile">
                        <div class="item"></div>
                    </td>
                </tr>
              
            </tbody>
        </table>
    </div>
</ng-template>