.product-details-container{


    margin-bottom: 20px;

}
.gallery-wrap {
  
    margin-top: 10px;
}


.btn-buy{
    width: 100%;
    bottom: 0;
   
}

.description{
    padding: 20px;
    color: black;
}
.price-detail-wrap, .title{
    color: black;
}
.col-left{
    width: 54.5vw;
    padding: 10px;
    border-right: 0.5px solid whitesmoke;

}
.col-right{
    position: fixed;
    right: 0;
    top: 45px;
    height: 210px;
    width: 25vw;

 
}
