<!---start alert info -->
<div hidden class="alert alert-info alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
<!---end alert info -->



<!---start table structure -->
<ng-template #table>

  <table class="table oferts-table" *ngIf="oferts ; else loading">
    <thead class="oferts-table-head">
      <td class="oferts-table-head-item d-flex">Mis ofertas</td>
      <td class="oferts-table-head-item"></td>
      <td class="oferts-table-head-item"></td>
      <td class="oferts-table-head-item"></td>
    </thead>
    <tbody>
      <tr class="shadow-sm w-100 oferts-table-tr" *ngFor="let ofert of oferts" class="shadow-sm w-100"
        [routerLink]="['/app/exchange/transaction',type,ofert.id]">
        <td>
          <div class="oferts-username">@{{ ofert.username }}</div>
          <div class="date">
            <div class="oferts-date">{{ ofert.date | date:'short' }} </div>
          </div>
        </td>
        <td>
          <div class="text-primary h7">
            <div class="oferts-description">
              <div class="item d-flex">{{ofert.tipo}} {{ ofert.monto + ofert.divisaMonto}} {{ ofert.origen }}</div>
              <div class="item d-flex">
                <div class="badge badge-primary">VE</div>
                <div class="badge badge-primary">PM</div>
                <div class="badge badge-primary">ME</div>
                <div class="badge badge-primary">BA</div>
              </div>
            </div>
          </div>
        </td>

        <th class="tasa text-primary">
          <div class="oferts-money d-flex">{{ ofert.divisaTasa }} {{ ofert.tasa }} </div>
        </th>
        <th class="oferts-status" [style.color]="getColor(ofert.status)">
          <li class="fas fa-circle"></li>
        </th>

      </tr>
    </tbody>
  </table>
</ng-template>
<!---end table structure -->
<!---start ng-switch-->
<span [ngSwitch]="oferts">
  <p *ngSwitchCase="true">
    <ng-container *ngTemplateOutlet="table"></ng-container>
  </p>
  <p *ngSwitchCase="false">
    <ng-container *ngTemplateOutlet="loading"></ng-container>
  </p>
  <p *ngSwitchDefault>
      <ng-container *ngTemplateOutlet="table"></ng-container>
  </p>
</span>

<!---end ng-switch-->

<!---start loading template -->
<ng-template #loading class="oferts-container">
   <!-- <table class="table oferts-table">
    <thead class="oferts-table-head">
      <td class="oferts-table-head-item d-flex">Mis ofertas</td>
      <td class="oferts-table-head-item"></td>
      <td class="oferts-table-head-item"></td>
      <td class="oferts-table-head-item"></td>
    </thead>
    <tbody>
      <tr class="shadow-sm w-100 oferts-table-tr">
        <td>
          <div class="oferts-username text-primary ">@carlosehdr</div>
          <div class="date">
            <div class="oferts-date text-secondary ">30/12/2019</div>
          </div>
        </td>
        <td>
          <div class="text-primary h7">
            <div class="oferts-description">
              <div class="item d-flex">COMPRO 200$ CASH</div>
              <div class="item d-flex">
                <div class="badge badge-primary">VE</div>
                <div class="badge badge-primary">PM</div>
                <div class="badge badge-primary">ME</div>
                <div class="badge badge-primary">BA</div>
              </div>
            </div>
          </div>
        </td>

        <th class="tasa text-primary">
          <div class="oferts-money d-flex">BSS 53000</div>
        </th>
        <th class="oferts-status">
          <li class="fas fa-circle"></li>
        </th>

      </tr>

    </tbody>
  </table>
 ESTO ES LO QUE VA-->
    <app-loading-exchange></app-loading-exchange>
  
</ng-template>
<!---end loading template -->