
.sticky-top{
  position: sticky;
}

.navbar{
  background-color: #00233d;
  z-index: 1000;
}

a{
text-decoration: none;
color: whitesmoke;
font-size: 0.7em;
}

.bttn{

  margin-left: auto;
  font-size: 0.9rem;
}


.btn{
  border-radius: 0%;
  padding: 10px;
}


@media only screen and (max-width:810px ) {
  
    .bttn{
    display: none;

    }
    }
    
    .navbar{
      padding: 0%;
    
    }

    .active{
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: rgb(255, 255, 255);
      color: white;
      
    
    }