<nav class="navbar navbar-expand-md navbar-dark ">
  <!-- Brand -->
<div class="container">
  
    <a class="btn nav-link " routerLink="/exchange/my-oferts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">  MIS OFERTAS</a>
    <a class="btn nav-link " routerLink="/exchange/accepted-oferts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ACEPTADAS</a>
    <a class="btn nav-link" routerLink="/exchange/all-oferts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">DISPONIBLES</a>

        <a class="nav-link btn bttn " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          routerLink="/exchange/new-ofert"><i class="fas fa-plus-circle"></i> PUBLICAR</a>
        </div>
</nav>



