.btn{
width: 100%;
}
  

  @media only screen and (min-width:600px ) {
  
   
  }

  
  @media only screen and (max-width:810px) {


  }

  .input-right-align {
    text-align: right;
  }
  
  input.input-right-align::-webkit-outer-spin-button,
  input.input-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.input-right-align {
    -moz-appearance: textfield;
  }



  .mat-form-field{
    width: 100%;
    font-size: 1em;
    
  }




/* -----START LOADING TABLE ------*/

/*---transition efect----*/
.loading-item{
  animation-name: opacity-change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: gray;
}


@keyframes opacity-change{
  from{
    opacity: 10%;
  }
  to{
    opacity: 100%;
  }
}


mat-vertical-stepper{
  background-color: transparent;
}


