<div class="page__container">
  <div class="component__container">
    <p class="title-page__text">Mis productos</p>
    <div class="table__container row">

   
      <div class="col-12">

        <table mat-table [dataSource]="dataSource" matSort class="bg-white">
          <!-- ID Column -->
          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class=" hidden-in-mobile ">
              Artículo</th>
            <td mat-cell *matCellDef="let product" class="product-photo__container hidden-in-mobile">
              <div class="">
                <img src="{{product.galery[0]}}" class="img img-fluid thumbnail-product">
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-user-details "> Título </th>
            <td mat-cell *matCellDef="let product">
              <div class="">
                <div class="">
                  <a [routerLink]="['/app/shop/s',{ outlets:{shop:['product',product.id]}}]">
                    <h5>{{product.title}}</h5>
                  </a>

                  <h5 class="text-primary">{{product.currency}} {{product.price | number}}</h5>
                </div>
              </div>
            </td>
          </ng-container>
          <!-- Progress Column -->


          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class=" "> Estado</th>
            <td mat-cell *matCellDef="let product">
              <div class="small p-2">
                {{product.status}}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class=" hidden-in-mobile ">
              Acciones </th>
            <td mat-cell *matCellDef="let product" class="mat-select__container">
              <mat-form-field class="mat-select__actions" appearance="none">
                <mat-label>
                  Seleccione
                </mat-label>
                <mat-select (selectionChange)="optionSelected($event,product)">
                  <mat-option [value]="'active'" *ngIf="product.status==='Pausado'">
                    Activar
                  </mat-option>
                  <mat-option [value]="'pause'" *ngIf="product.status==='Activo'">
                    Pausar
                  </mat-option>
                  <mat-option [value]="'delete'">
                    Eliminar
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let product; columns: displayedColumns;" class="table-row">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[15, 20, 30, 100]" class=""></mat-paginator>
      </div>
    </div>
  </div>
</div>







<ng-template #loading>
  <app-loading></app-loading>
</ng-template>