



<div class="page">
    <div class="container">
      <div class="left text-center">
        <div class="login"> <img src="../../../assets/samannetlogo.png" class="img-fluid brand-logo-img" height="200px" width="200px"> </div>
      </div>
      <div class="right shadow-lg">

        <form class="form" (submit)='onLoginEmail()'>
          <label for="email">Email</label>
          <input [(ngModel)]="email" type="email" name="email" id="email"  class="" (click)='hideErrorMessage()'>
          <label for="password">Password</label>
          <input  [(ngModel)]="pass" type="password" name="pass" id="password"  class="" (click)='hideErrorMessage()'>
          <button type="submit"class='btn btn-dark btn-login ' >Ingresar</button>
          <label class="error-label text-warning text-center">{{ error }}</label>

        </form>
      </div>
    </div>
  </div>
  
