/* -----START LOADING ------*/
  .row{
    margin: 0;
    }
 .card-product-container{
  
    width: 100%;
    height: auto;
  }
  
 

   /*-----img----*/
  .card-product-container-img img {
    height: 100%;
    object-fit: contain;
    object-position: center center;
    background-color: whitesmoke;
}




.card-product-container-img {
    overflow: hidden;
    position: relative;
    height: 210px;
    text-align: center;
    width: 100%; 
    background: whitesmoke;
}


  /*-----TEXT----*/


  .card-product-container-info{
    height: 50px;
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: whitesmoke;
  
  }