<div class="row">
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
    <div class="col-md-3 col-sm-4 col-12 justify-content-center align-items-center text-center card-product">
        <figure class="card card-product-container shadow-sm bg-white">
            
                <div class="p-1">
                    <div class="card-product-container-img ">
                        <img class="img-fluid bg-white shadow-sm"
                            src="">
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-flex ">
                    <span class=" card-product-container-info flex-column"></span>
                </div>
           
        </figure>
    </div>
</div>