<table class="table oferts-loading-table  ">
  <thead class="oferts-table-head">
    <td class="oferts-table-head-item hide-in-mobile"></td>
    <td class="oferts-table-head-item"></td>

  </thead>
  <tbody>
    <tr class=" w-100 oferts-loading-table-tr">
      <td class="hide-in-mobile w-20">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
      
      <td class="w-70">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
    </tr>
    <tr class=" w-100 oferts-loading-table-tr">
      <td class="hide-in-mobile w-20">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
      
      <td class="w-70">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
    </tr>
    <tr class=" w-100 oferts-loading-table-tr">
      <td class="hide-in-mobile w-20">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
      
      <td class="w-70">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
    </tr>
    <tr class=" w-100 oferts-loading-table-tr">
      <td class="hide-in-mobile w-20">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
      
      <td class="w-70">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
    </tr>
    <tr class=" w-100 oferts-loading-table-tr">
      <td class="hide-in-mobile w-20">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
      
      <td class="w-70">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
    </tr>
    <tr class=" w-100 oferts-loading-table-tr">
      <td class="hide-in-mobile w-20">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
      
      <td class="w-70">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
    </tr>
    <tr class=" w-100 oferts-loading-table-tr">
      <td class="hide-in-mobile w-20">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
      
      <td class="w-70">
        <div class="oferts-loading-description">
          <div class="item"></div>
        </div>
      </td>
    </tr>
  
   
  </tbody>
</table>