<table class="table oferts-loading-table">
  <thead class="oferts-table-head">
    <td class="oferts-table-head-item d-flex"></td>
    <td class="oferts-table-head-item"></td>
    <td class="oferts-table-head-item"></td>
    <td class="oferts-table-head-item"></td>
  </thead>
  <tbody>
    <tr class="shadow-sm w-100 oferts-loading-table-tr">
      <td>
        <div class="oferts-loading-username"></div>
        <div class="date">
          <div class="oferts-loading-date"></div>
        </div>
      </td>
      <td>
        <div class="text-primary h7">
          <div class="oferts-loading-description">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>

          </div>
        </div>
      </td>

      <th class="tasa text-primary">
        <div class="oferts-loading-money"></div>
      </th>
      <th class="oferts-loading-status">
        <li class="fas fa-circle"></li>
      </th>

    </tr>
    <tr class="shadow-sm w-100 oferts-loading-table-tr">
      <td>
        <div class="oferts-loading-username"></div>
        <div class="date">
          <div class="oferts-loading-date"></div>
        </div>
      </td>
      <td>
        <div class="text-primary h7">
          <div class="oferts-loading-description">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>

          </div>
        </div>
      </td>

      <th class="tasa text-primary">
        <div class="oferts-loading-money"></div>
      </th>
      <th class="oferts-loading-status">
        <li class="fas fa-circle"></li>
      </th>

    </tr>
    <tr class="shadow-sm w-100 oferts-loading-table-tr">
      <td>
        <div class="oferts-loading-username"></div>
        <div class="date">
          <div class="oferts-loading-date"></div>
        </div>
      </td>
      <td>
        <div class="text-primary h7">
          <div class="oferts-loading-description">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>

          </div>
        </div>
      </td>

      <th class="tasa text-primary">
        <div class="oferts-loading-money"></div>
      </th>
      <th class="oferts-loading-status">
        <li class="fas fa-circle"></li>
      </th>

    </tr>
    <tr class="shadow-sm w-100 oferts-loading-table-tr">
      <td>
        <div class="oferts-loading-username"></div>
        <div class="date">
          <div class="oferts-loading-date"></div>
        </div>
      </td>
      <td>
        <div class="text-primary h7">
          <div class="oferts-loading-description">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>

          </div>
        </div>
      </td>

      <th class="tasa text-primary">
        <div class="oferts-loading-money"></div>
      </th>
      <th class="oferts-loading-status">
        <li class="fas fa-circle"></li>
      </th>

    </tr>

    <tr class="shadow-sm w-100 oferts-loading-table-tr">
      <td>
        <div class="oferts-loading-username"></div>
        <div class="date">
          <div class="oferts-loading-date"></div>
        </div>
      </td>
      <td>
        <div class="text-primary h7">
          <div class="oferts-loading-description">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>

          </div>
        </div>
      </td>

      <th class="tasa text-primary">
        <div class="oferts-loading-money"></div>
      </th>
      <th class="oferts-loading-status">
        <li class="fas fa-circle"></li>
      </th>

    </tr>

  </tbody>
</table>