<!--/ ESTRUCTURA PRINCIPAL DEL EXCHANGE -->



<div class="">

  <div class="p-2 group-option-btn d-flex">

    <!-- Links -->
    <a class="d-flex option-btn shadow-sm " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="[{ outlets: { exchange: ['new'] } }]"><i class="fas fa-plus"></i>
      <div class="btn-text"> Publicar</div>
    </a>

    <a class="d-flex option-btn  shadow-sm " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="[{ outlets: { exchange: ['all'] } }]"><i class="fas fa-search-dollar"></i>
      <div class="btn-text">Disponibles</div>
    </a>


    <a class="d-flex option-btn  shadow-sm " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="[{ outlets: {exchange: ['dashboard'] } }]"><i class="fas fa-user"></i>
      <div class="btn-text"> Mis publicaciones</div>
    </a>

  </div>
  <div class="outlet">
    <router-outlet name='exchange'></router-outlet>
  </div>
</div>