<!--/ ESTRUCTURA PRINCIPAL DEL EXCHANGE -->
<div class="sidebar hidden-in-mobile">
  <div class="sidebar-title d-flex  h4">
    <li class="sidebar-icon fas fa-exchange-alt p-2"></li>
    <h4 class="text-dark">
      Exchange
    </h4>
  </div>
  <!-- Links -->
  <a class="d-flex p-2 align-content-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    routerLink="/app/exchange/e"><i class="fas fa-search-dollar icon-menu"></i>
    <div class="btn-text">Disponibles</div>
  </a>

  <a class="d-flex p-2 align-content-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="[{ outlets: { exchange: ['new'] } }]"><i class="fas fa-plus icon-menu"></i>
    <div class="btn-text">Publicar</div>
  </a>

  <a class="d-flex p-2 align-content-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="[{ outlets: {exchange: ['dashboard'] } }]"><i class="fas fa-list-ul icon-menu"></i>
    <div class="btn-text"> Mis publicaciones</div>
  </a>
  <div *ngIf="activeOferts; else loading">
    <h5 class="p-2 text-dark">Transacciones activas</h5>
    <div *ngFor="let ofert of activeOferts">
      <a id="{{ofert.id}}" class="d-flex p-2 align-content-center" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="[{ outlets: {exchange: ['transaction',ofert.ownerUID,ofert.id] } }]">
        <i class="fas fa-dollar-sign" [style.background-color]="getColor(getStatusByOfert(ofert))"></i>
        <div class="small transaction-active">
          <div class="d-flex small">
            {{ofert.type}} {{ ofert.amountToSend + ofert.currencyAmountToSend  }} {{ ofert.from }}

          </div>
          <div class="d-flex small">
            por {{ ofert.amountToReceive + ofert.currencyAmountToReceive }}&nbsp;
            <div class="" *ngFor="let payForm of ofert.payForms">
              {{ payForm }}&nbsp;
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <ng-template #loading>

    <h6 *ngIf="!activeOferts;else nothingToShow" class="p-2 small">Cargando...</h6>
    <ng-template #nothingToShow>
      <h6 class="p-2 small">Sin transacciones activas</h6>
    </ng-template>


  </ng-template>

</div>


<div class="main  ">

  <router-outlet name='exchange'></router-outlet>
</div>