a{
  text-decoration: none;
  color: black;
  margin-bottom: 2px;
}


.main{
  min-height: 100vh;
  margin-left: 20vw;
}

.sidebar{
  width: 20vw;
  height: 100vh;
  position: fixed;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-right: 0.5px solid whitesmoke;

}
.sidebar-title{
  padding: 5px;
}
.sidebar-icon{
  background-color: transparent;
  margin-right: 15px;
  font-size: 1.1em;
  padding: 10px;
  
}
.sidebar:hover{
  overflow-y:scroll;

}
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: whitesmoke; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 209, 209); 
}

.btn-text{
  padding: 5px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 14px;

}

    .fas{
      width: 30px;
      height: 30px;
      padding: 8px;
      border-radius: 50%;
      font-size: 0.9em;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.icon-menu{
  background: #2196F3
;

}


.sidebar-icon{
  background-color: transparent;
  margin-right: 15px;
  font-size: 1.1em;
  padding: 10px;
  color: #2196F3
;
}
  .nav-link{
    display: flex;
  }

  .table-outlet{
    padding-top: 10px;
  }

.transaction-active{
  margin-left: 5px;
  color: rgb(136, 153, 166);

}
  @media only screen and (max-width:900px){

    .btn-text{
      display: none;
    }
  
    .fas{
      font-size: 1.4em;
    }

  .fas{
      padding: 5px;
  }

  .hidden-in-mobile{
    display: none;
  }
  }

  @media only screen and (min-width:800px) and (max-width:1024px){

    .btn-text{
      font-size: 0.8em;
    }
  

  }

  /*--- START CLASS ACTIVE ---*/

  .active{
    background: whitesmoke;
  } 
  a:hover{
    background: whitesmoke;
  } 


/*--- END CLASS ACTIVE ---*/


@media only screen and (max-width:900px) {

  .hidden-in-mobile{
    display: none;
  }
  .main{
    margin-left: 0;
    padding: 0;
  }
}