<form class="register-form " [formGroup]="formGroupLogin" novalidate>

    <div class="row p-2">

        <div class="col-md-12">

            <div class="flex-fill ">
                <mat-form-field appearance="legacy" class="mat-form-field">
                    <input matInput placeholder="Email" type="email" formControlName="email"
                        class="input-right-align" (click)='hideErrorMessage()'>
                </mat-form-field>
            </div>

        </div>
        <div class="col-md-12">

            <div class="flex-fill ">
                <mat-form-field appearance="legacy" class="mat-form-field">
                    <input matInput placeholder="Contraseña" type="password" formControlName="password"
                        class="input-right-align" (click)='hideErrorMessage()'>
                    <mat-hint class="error-label">{{error}}</mat-hint>
                </mat-form-field>
            </div>

        </div>
       
    </div>
   
    <div class="col-md-12 p-3 d-flex justify-content-center align-items-center">

    <button mat-raised-button (click)="onLoginEmail()" class="btn btn-primary" *ngIf="!loading; else spinner">Iniciar sesión</button>
    <ng-template #spinner>
        <mat-spinner diameter="50" class="custom-spinner" ></mat-spinner>
    </ng-template>
    
    </div>

</form>