<form (submit)='onRegister()' class="register-form">
    <h1 class="p-2">Crea una cuenta</h1>
    <h6 class="p-2">Solo te tomará unos minutos</h6>
    <div class="d-flex form-item name-and-surname">
        <div class="text-center form-item-name flex-fill">
            <input type="text" name="name" class="form-control" placeholder="Nombre">
        </div>
        <div class="text-center form-item-surname flex-fill">
            <input type="surname" name="surname" class="form-control" placeholder="Apellido">
        </div>
    </div>
    <br>
    <div class="d-flex text-center  form-item">
        <input [(ngModel)]="email2" type="email" class="form-control flex-fill" name="email" placeholder="Email">
    </div>
    <br>

    <div class="d-flex text-center  form-item">
        <input [(ngModel)]="pass2" type="password" name="pass" class="form-control flex-fill"
            placeholder="Ingresa una Contraseña">
    </div>

    <div class="form-item-sexo d-flex form-item">

        <h6 class="form-item-sexo-title">Genero:</h6>

        <div class="  form-item-sexo-option">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio">Másculino
            </label>
        </div>
        <div class=" form-item-sexo-option">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio">Femenino
            </label>
        </div>
        <div class=" form-item-sexo-option">
            <label class="form-check-label ">
                <input type="radio" class="form-check-input" name="optradio">Otro
            </label>
        </div>
    </div>

    <div class="mt-4">
        <button class="btn sign-up-btn" type="submit">Registrarme</button>
    </div>
</form>