/*--- START OFERT TABLE ---*/
 

  
    @media only screen and (max-width:810px ) {
      .title{
        display: none;
      }
      .container{
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 0%;
      }
    }
  



    @media only screen and (max-width:480px) {
  
      
      th{
         font-size: 0.7rem;
      }
  
      td{
         font-size: 0.7rem;
      
      }
    
      tbody button{
        font-size: 0.7rem;
    
      }

    
    }

  
  @media only screen and (min-width:809px ) {
  

  
    }

  
/*--- START OFERT TABLE ---*/
thead tr{
  background-color: white;
  color: black;
}

  tbody tr{
    background-color: white;
    height: 110px;
  }

  tbody button{
    margin: 3px;
  }
  table{
   
    width: 100%;
   
  }


  @media only screen and (max-width:810px ) {
    
    .container{
      padding-left: 0%;
      padding-right: 0%;
      margin-left: 0%;
      margin-right: 0%;
    }
  }


  @media only screen and (max-width:480px) {

    
    th{
       font-size: 0.7rem;
    }

    td{
       font-size: 0.7rem;
    
    }
  
    tbody button{
      font-size: 0.7rem;
  
    }

  
  }


@media only screen and (min-width:809px ) {



  }

 

  tbody :hover{
    background-color: rgb(236, 236, 236);
    cursor:pointer; 
    cursor: hand;

  }





/* -----START  TABLE ------*/
.oferts-table{
background-color: white;
margin-top: 10px;


}
/*-----TEXT----*/
.oferts-username ,.oferts-date,.oferts-money{

width: 6em;
height: 24px;
padding: 3px;


}
.oferts-date{
  font-size: 0.75em;
}

.oferts-description > .item{
margin-bottom:10px ;
width: 10em;
height: 24px;
}


.badge{
margin: 2px;
}
/* -----END TABLE ------*/

