table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}




/*--- START OFERT TABLE ---*/
@media only screen and (max-width:810px ) {
  .title{
    display: none;
  }
  .container{
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media only screen and (max-width:480px) {

  
  th{
     font-size: 0.7rem;
  }

  td{
     font-size: 0.7rem;
  
  }

  tbody button{
    font-size: 0.7rem;

  }


}


@media only screen and (min-width:809px ) {



}


/*--- START OFERT TABLE ---*/
thead tr{
color: black;
}

tbody tr{
}

tbody button{
margin: 3px;
}
table{

width: 100%;

}



@media only screen and (max-width:480px) {


th{
   font-size: 0.7rem;
}

td{
   font-size: 0.7rem;

}

tbody button{
  font-size: 0.7rem;

}


}






.table-row:hover > td{
background-color: rgb(236, 236, 236);
cursor:pointer; 
cursor: hand;

}





/* -----START  TABLE ------*/
.oferts-table{
margin-top: 10px;


}
/*-----TEXT----*/
.oferts-username ,.oferts-money{

padding: 3px;


}



.oferts-table-row-title{
  font-size: 1.2em;
  font-weight: 500;
}
.oferts-table-row-subtitle{
  font-size: 1.4em;
  font-weight: 500;
  color: gold;
}

.badge{
margin: 2px;
}



.btn-ofert{
  height: 40px;
  width: 120px;
  border-radius: 20px;
  font-size: 1em;
    
}

.btn-ofert-mobile{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 5px;
  height: 35px;
  width: 80%;

}
.header-user-details{
  width:30%;
}

.date{
  font-size: 0.8em;
}


/* -----END TABLE ------*/

.hidden-in-desktop{
  display: none;
}

.oferts-description{
  font-size: 0.9em;
}



.btn-ofert-mobile .fas{
  font-size: 0.9em;
  color: white;
}

.img-owner{
  margin-top: 45px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.img-partner{
  border-radius: 50%;
  height: 90px;
  width: 90px;
}




@media only screen and (max-width:800px ) {



.hidden-in-mobile{
  display: none;
}

.hidden-in-desktop{
  display: block;
}

.oferts-table-row-title{
  font-size: 1.2em;

}
.oferts-table-row-subtitle{
  font-size: 1em;

}

.oferts-description{
  font-size: 1.1em;
}
.ofert-amounts{
  display: flex;
}

.header-user-details{
  width: 35%;
}

}

