<div class="container">
    <div class="row">
        <!--left col-->
        <div class="col-12 containerPhoto d-flex justify-content-center align-items-center">
            <img src="{{ user.photoUrl }}" class="card avatar img-thumbnail">
        </div>
        <div class="col-12  d-flex justify-content-center align-items-center">
            <input type="file" class="card file-upload form-control btn shadow-sm" accept=".png, .jpg"
                (change)="onUpload($event);">
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="title">
                <h1>{{user.firstName}} {{user.lastName}}</h1>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center ">
            <table class="table small bg-white">

                <tbody>
                    <tr>
                        <th>Nombre y Apellido: </th>
                        <td>
                            {{user.firstName}} {{user.lastName}}
                        </td>
                    </tr>
                    <tr>
                        <th>Telefono: </th>
                        <td>
                            {{user.phone_number}}
                        </td>
                    </tr>
                    <tr>
                        <th>Genero: </th>
                        <td>
                            {{user.gender}}
                        </td>
                    </tr>
                    <tr>
                        <th>DNI: </th>
                        <td>
                            {{user.dni}}
                        </td>
                    </tr>
                    <tr>
                        <th>Dirección: </th>
                        <td>
                            {{user.address}}
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
        <div class="col-12 change-my-password-btn d-flex justify-content-center align-items-center">
            <button class="btn btn-primary">Editar datos</button>
            <button class="btn btn-secondary">Cambiar contraseña</button>
        </div>
        <!--/col-9-->
    </div>
</div>
<!--/row-->