  .file-upload{
    position: relative;
    font-size: 8px;
    width: 60px;
    height: 60px;
    background-image: url('../../../assets/addPhoto.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -70px;
    right: -70px;
    border-radius: 50%;
}
  .table{
    width: 50%;
  }
  .change-my-password-btn .btn {
    width: 24%;
    margin: 10px;
  }
  .title{
    width: 50%;
  }
  .avatar{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: auto;
  
  }

.containerPhoto{
  margin-top: 20px;
}
@media only screen and (max-width:900px){

.table{
  width: 100%;
}
.change-my-password-btn .btn{
  width: 50%;
  margin: 2px;
  padding: 10px;
  font-size: 12px;
}
}





