<div *ngIf="percentage | async as pct">
    <div class="progress" id="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0"
              aria-valuemax="100" [style.width]="pct +'%'">
      </div>
  </div>

  </div>
  
  <div *ngIf="snapshot | async as snap">  
    <button class="shadow-sm" (click)="taskCanceled()"><li class="fas fa-trash-alt"></li></button>
    <button class=" shadow-sm" (click)="restart()" [hidden]="downloadURL"><li class="fas fa-redo"></li></button>
    <button class=" shadow-sm" [hidden]="!downloadURL"><li class="fas fa-check"></li></button>
  </div>