  <!-- fixed sidebar -->
            <div class="navbar-dark bg-white text-white position-fixed h-100  w-sidebar">
                    <div class="sidebar-title  text-center"> La red del Samán</div>
                <br>
                <ul class="nav flex-column flex-nowrap text-truncate">
                    <li  class="nav-item">
                        <a class="nav-link active" href="/social(sidebar:sidebar)"> <i class="fas fa-user-friends"></i> Social</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/exchange/all-oferts(sidebar:sidebar-exchange)" >
                            <i class="fas fa-comments-dollar"></i> Exchange</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products(sidebar:sidebar-marketplace)"
                        > <i class="fas fa-store-alt "></i> Marketplace</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/QA(sidebar:sidebar-answer)" >
                                <i class="fas fa-question-circle"></i> Q&A </a>
                        </li>
                  </ul>

                  <ul class="nav flex-column flex-nowrap text-truncate fixed-bottom">
                        <li class="nav-item ">
                                <a class="nav-link" href="/options(sidebar:sidebar-options)"> <i class="fas fa-tools"></i> Opciones</a>
                            </li>
                    </ul>
            </div>
       