  <!-- fixed sidebar -->
  <div class="navbar-dark bg-white text-white position-fixed h-100  w-sidebar">
      <div class="sidebar-title  text-center"> <i class="fas fa-store-alt "></i> Marketplace</div>
        <br>
        <ul class="nav flex-column flex-nowrap text-truncate">
            <li class="nav-item">
                <a class="nav-link active" href="#"> <i class="fas fa-plus-circle"></i> Vender</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/marketplace"
                    ><i class="fas fa-box-open"></i> Mis articulos</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/exchange/my-oferts"><i class="fas fa-shopping-bag"></i> Mis Compras</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    routerLink="/exchange/all-oferts"><i class="fas fa-dollar-sign"></i> Mis ventas </a>
                </li>
            <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    routerLink="/myaccount"><i class="fas fa-id-badge"></i> Mis datos</a>
                </li>
        </ul>
    </div>
