.rounded-border{
    border-radius: 20px;
}
mat-form-field{
    width: 100%;
}
upload-task{
    position: relative;
    left: 38px;
    top: 6px;
    
}
mat-vertical-stepper{
    background-color: transparent;
}


.stepper{
    height: 100vh;
}
.custom-file-upload{
    position: relative;
    cursor: pointer;
    font-size: 8px;
    width: 100%;
    height: 100px;
    background-image: url('../../../../assets/addPhoto.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

input[type="file"] {
	display: inline-block;
	opacity: 0;
	position: absolute;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 30px;
	width: 190px;
	z-index: 99;
	margin-top: 10px;
	cursor:pointer;
}
.file-preview-zone{
    width: 200px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px dashed #f16624;
}

.file-preview-container{
    position: relative;
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;

}

.file-preview-container img{
    width: 90px;
    height: 90px;
 
}

.file-preview-container upload-task{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    
  }

.btn-trash{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    background: rgb(0, 110, 255);
    color: white;
    border: none;
}

mat-radio-button{
    padding: 10px;
}
.description{
    margin-top: 10px;
}
.label-main{
    position: relative;
}
button{
    color: rgb(0, 0, 0);
    margin: 5px;
    background: rgb(83, 83, 255);
        background: -webkit-linear-gradient(to right, rgb(83, 83, 255), rgb(0, 174, 255));
        background: -o-linear-gradient(to right, rgb(83, 83, 255), rgb(0, 174, 255));
        background: -moz-linear-gradient(to right, rgb(83, 83, 255), rgb(0, 174, 255));
        background: linear-gradient(to right, rgb(83, 83, 255), rgb(0, 174, 255));
}
@media only screen and (max-width:600px){
    .btn-submit{
        width: 100%
    }
    .file-upload{
        margin-top: 5px;
        font-size: 8px;
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
    
    
    .btn-close{
        font-size: 10px;
        left: 22px;
        top: 4px;
        width: 18px;
        height: 18px;
        border-radius: 5px;
    }
    .file-preview-container{
        width: 70px;
        height: 70px;
        margin-left: 10px;
     
    }
}

.progress{
    height: 2px;
    width: 90px;
    margin-left: 23px;
    z-index: 1;
}

.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
}