<div class="row container">
    
    <h2 class="title text-left col-12">VENDER</h2>


        <div class="col-md-4">
            Imagenes here
                </div>
        <div class="col-md-8">
    <!--
            <form class="was-validated" (submit)='add()'>
                <div class="form-group">
                    <label for="uname">Titulo:</label>
                    <input [(ngModel)]="product.name" type="text" class="form-control" id="uname"
                        placeholder="Enter username" name="uname" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="uprice">Precio:</label>
                    <input [(ngModel)]="product.price" type="number" class="form-control" id="uprice" placeholder="Precio"
                        name="uprice" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="desc">Descripción:</label>
                    <textarea class="form-control" [(ngModel)]="product.description" rows="3" id="description"
                        name="description" placeholder="Descripción" required></textarea>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">

                        <div class="col-xs-6">
                            <label for="categoria">Categoria:</label>
                            <select class="form-control" id="categoria"  (change)="product.category=$event.target.value" required>
                                <option value="" selected disabled hidden>Choose here</option>                                <option>Automóviles</option>
                                <option>Electronica</option>
                                <option>Ropa</option>
                                <option>Juguetes</option>
                                <option>Alimentos</option>
                                <option>Zapatos</option>
                            </select>
                        </div>
                    </div>
                <button type="submit" class="btn btn-primary">Publicar</button>
            </form>
            -->
        </div>
    
    
    </div>

<ng-template #loading>
    <div class="container text-center">

    
    </div>

</ng-template>