<h3>Reviews</h3>
<div class="d-flex p-3 text-center">
    <div class="p-1"> {{countPositive}} <li class="fas fa-check"></li></div>
    <div class="p-1"> {{countNeutral}} <li class="fas fa-point"></li></div>
    <div class="p-1"> {{countNegative}} <li class="fas fa-times"></li></div>
</div>

<div class="example-container small bg-white">
    <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >
              <strong>Tipo</strong></th>
            <td mat-cell *matCellDef="let rating" >
      
              <div class="text-center small">
                <label class="text-secondary h6">{{rating.type}}</label>
              </div>
      
            </td>
          </ng-container>
          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >
              <strong>Tipo</strong></th>
            <td mat-cell *matCellDef="let rating" >
      
              <div class="text-center small">
                <label class="text-secondary p-1">{{rating.date}}</label>
                <label class="text-secondary">{{rating.comment}}</label>
              </div>
      
            </td>
          </ng-container>
       
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 20, 30, 100]" class=""></mat-paginator>

  </div>