<div class="product-details-container" >
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="gallery-wrap">
  
          <app-carousel-img-products [galery]="product.galery">
          </app-carousel-img-products>
  
        </div> <!-- gallery-wrap .end// -->
        <div class=" description">
          <h4>Descripción</h4>
          <p class="angular-with-newlines">{{product.description}}</p>
        </div>
      </div>
      <div class="col-4">
        <span class="text-secondary">{{product.quality}}</span>
        <h4 class="title mb-2">{{product.title}}</h4>
        <p class="price-detail-wrap">
          <span class="price d-flex align-items-center">
            <span class="price__text">{{product.currency}} {{product.price | number}}</span>
          </span>
        </p> <!-- price-detail-wrap .// -->
  
  
        <button class="btn btn-md btn-primary text-uppercase btn-buy p-2" (click)="openDialogContact()"> Contactar </button>
  
      </div> <!-- col.// -->
  
    </div> <!-- row.// -->
  
  </div>
</div>
<!--container.//-->