<nav class="navbar navbar-expand nav-top shadow-sm">
    <div class="container-fluid">
        <!-- Brand -->
        <div class="logo-background">
            <img class="img-fluid logo " src="./../../../../assets/alizon.png">
        </div>
        <!-- Navbar links -->
        <div class="navbar-collapse nav-links-group flex-row-reverse hidden-in-mobile">

            <a id="exchange" title="Exchange" class=" nav-link hidden-in-mobile "
                [routerLink]="['/app/exchange/e',{ outlets: { exchange: ['all'] } }]">
                <li class="fas fa-exchange-alt"></li>
            </a>
            <a id="marketplace" title="Marketplace" class=" nav-link hidden-in-mobile"
                [routerLink]="['/app/marketplace/m',{ outlets: { marketplace: ['products'] } }]">
                <li class="fas fa-store "></li>
            </a>
            <a hidden id="forum" title="Libros y Guías" class=" nav-link hidden-in-mobile"
                [routerLink]="['/app/ebookShare/es',{ outlets: { ebook: ['all'] } }]">
                <i class="fas fa-book"></i>
            </a>

            <a id="answers" title="Preguntas y Respuestas" class=" nav-link hidden-in-mobile"
                [routerLink]="['/app/answers/a',{ outlets: { answer: ['activity'] } }]">
                <i class="far fa-comment-alt" hidden></i>
            </a>

        </div>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
        ngbPopover="This is simple example form ItSolutionStuff.com" popoverTitle="Popover on bottom">
  Popover on bottom
</button>
        <div class="navbar-collapse flex-row-reverse ">
            
            <div class="dropdown hidden-in-mobile" dropdown>
                <div dropdownToggle role="button">
                    <!-- {2} -->
                    <a class="btn nav-link small user" title="Notificaciones"> <li class="far fa-user"></li>
                    </a>
                </div>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item small btn" routerLink="/app/myAccount">Mi Perfil</a>
                    <a class="dropdown-item small btn" (click)="onLogout()">Salir</a>
                </div>
            </div>
            <a id="answers" title="Preguntas y Respuestas" class=" nav-link hidden-in-mobile"
            [routerLink]="['/app/answers/a',{ outlets: { answer: ['activity'] } }]">
            <i class="far fa-comment-alt" ></i>
        </a>
        </div>
    </div>
</nav>