

<nav class="navbar navbar-expand ml-auto nav-top shadow-sm">
    <div class="container-fluid">
        <!-- Brand -->
        <div class="d-flex">
            <div  hidden class="btn bg-white"><li class="fas fa-bars p-2 nav-bars-btn"></li></div>
            <img   class="img-fluid logo " src="./../../../../assets/icon2.png">


            <a  class="navbar-brand p-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink=""
                id="title">Samannet</a>

        </div>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse w-100 order-md-0 dual-collapse2 nav-item nav-links-group flex-row-reverse text-center">

            <div class="d-flex">
            <a class="nav-link notify" title="Notificaciones" 
                routerLink="/"><i class="far fa-bell fa-2x"></i> <span hidden class="badge badge-danger">2</span></a>
            
            </div>
            
            <a  class="nav-link page-name" routerLink="/app/myAccount">Mi cuenta</a>
            <a class=" nav-link page-name" 
                [routerLink]="['/app/exchange/e',{ outlets: { exchange: ['all'] } }]">Exchange</a>
            <a class=" nav-link page-name" [routerLink]="['/app/marketplace/m',{ outlets: { marketplace: ['products'] } }]">Marketplace</a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand ml-auto toolbar "></nav>
