<div class="container">

  <div class="row">

    <div class="title-col col-md-6">
      <figure class="" id="box">
        <div class="row  ">
          <div class=" col-md-12 " div>

            <h3 class="title">MIS OFERTAS</h3>
          </div>
        </div>
      </figure>
    </div> <!-- col // -->


    <table class="table col-md-12" *ngIf="oferts ; else loading">
      <thead>
        <td>Usuario</td>
        <td>Descripción</td>
        <td>Tasa</td>
        <td>Estado</td>
      </thead>

      <tbody>
        <tr *ngFor="let ofert of oferts" [routerLink]="['/exchange/transaction',type,ofert.id]">
          <td>@{{ ofert.username }} <br> <div class="date">{{ ofert.date | date:'medium' }} </div> </td>
          <td>
            <div class="text-primary">{{ofert.tipo}} {{ ofert.monto + ofert.divisaMonto}} {{ ofert.origen }}</div> pago
            por: {{ ofert.destino }} <br> se entrega:
            {{ ofert.entrega}}
          </td>

          <th class="text-primary">{{ ofert.tasa }} {{ ofert.divisaTasa }}</th>
          <th [style.color]="getColor(ofert.status)">{{ getStatus(ofert) }}</th>

        </tr>

      </tbody>

      <tbody>
        <br>
        No hay más ofertas disponibles

      </tbody>

    </table>
    <ng-template #loading>
      <table class="table col-md-12">
        <thead>
          <td> Cargando ofertas...</td>
        </thead>
        <tbody>
          <tr class="text-center">
            <app-loading></app-loading>
          </tr>
        </tbody>
      </table>

    </ng-template>
  </div>

  <div id="ofertBtn" class="fixed-bottom text-right">

    <button class=" btn-warning btn bttn " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      routerLink="/exchange/new-ofert"><i class="fas fa-plus "></i></button>

  </div> <!-- col // -->
  <br> <br> <br> <br>