<div class="questions-page__container">
    <div class="questions__container">
        <div *ngFor="let question of page.data | async" class="w-100">

            <div class="question__container d-flex flex-row">

                <div class="w-100 question-title__container text-left">
                    <div class="d-flex">
                        <a class="title h6 text-dark"
                            [routerLink]="['/app/qa/a',{outlets:{qa:['question-page',question.ownerUID,question.id]}}]">{{question.title}}</a>


                    </div>
                    <div class="date__container d-flex"> publicado {{question.date | dateAgo}} por &nbsp; <span
                            class="text-primary"> {{question.owner}} </span>
                    </div>
                    <div class="d-flex w-100">
                        <div *ngFor="let tag of question.tags" class="d-flex justify-content-left ">
                            <a class="tag__container">
                                {{tag}}
                            </a>
                        </div>
                        <div class="ml-auto d-flex small">
                            <span class="info__text">{{question.votesCount}} votos</span>
                            <span class="info__text" [class.important]="question.answers > 0">{{question.answers}}
                                respuestas</span>
                        </div>

                    </div>

                </div>
            </div>
            <hr>
        </div>
        <p class="ml-4" *ngIf="page.done | async">No hay más preguntas!</p>
        <p class="ml-4" *ngIf="page.empty | async">Aún no hay disponibles!</p>
        <div class="d-flex justify-content-center" *ngIf="page.error | async">
            <div class="d-flex flex-column justify-content-center">
                <p class="pb-2 h6 text-center">Ha ocurrido un error</p>
                <button class="btn-rounded btn btn-outline-primary ml-4 mr-4" (click)="page.retry()">
                    <li class="fas fa-redo pr-2"></li> Reintentar
                </button>
            </div>
        </div>
        <app-loading *ngIf="page.loading | async"></app-loading>
    </div>
</div>