  <!-- fixed sidebar -->
  <div class="navbar-dark bg-white text-white position-fixed h-100  w-sidebar">
    <div class="sidebar-title  text-center">  <a class="title nav-link active" 
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        routerLink="/QA"> 
        <i class="fas fa-question-circle"></i> Q&A</a></div>
      <br>
      <ul class="nav flex-column flex-nowrap text-truncate">
          <li class="nav-item">
              <a class="nav-link active" href="#"> <i class="fas fa-plus-circle"></i> Preguntar</a>
          </li>
          <li class="nav-item">
                  <a class="nav-link" href="/marketplace"
                  ><i class="fas fa-box-open"></i> Mis preguntas</a>
              </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              routerLink="/exchange/my-oferts"><i class="fas fa-shopping-bag"></i> Mis respuestas</a>
          </li>
      </ul>
  </div>
